
.fondoAzul{
    background: lightblue !important;
}
.fondoVerde{
    background: lightgreen !important;
}
.fondoRosa {
    background: lightpink !important;
}
.letraGrande{
    font-size: 40px !important;
}

.activado{
    font-weight: bold;
    background: yellow;
}